body {
    background-color: green;
}

h1 {
    color:yellow;
    font-size: 80px;
}

.distance-area {
    font-size: 40px;
    color: yellow;
}

#distance {
    border: solid;
    padding: 3rem;
    color: yellow;
}