body {
    background-color: green;
    padding-left: 2em;
}

h1 {
    color:yellow;
    font-size: 80px;
}

.distance-area {
    font-size: 40px;
    color: yellow;
}
/*distance box to display random distance to green */
#distance {
    border: solid;
    padding: 2rem;
    color: yellow;
}

#club {
    font-size: 40px;
    color: yellow;
}