body {
    background-color: green;
    padding-left: 2em;
    color: yellow;
    font: arial;
}

h1 {
    color:yellow;
    font-size: 60px;
}

.distance-area {
    font-size: 40px;
    color: yellow;
}
/*distance box to display random distance to green */
#distance {
    border: solid;
    padding: 1rem;
    color: yellow;
}

#club {
    font-size: 40px;
    color: yellow;
}

.clubs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
/*add hover effect when mouse moves over club image*/
.clubs img:hover {
    border: 8px solid yellow;
    transform: scale (1.05);
}
/*make club images same size*/
.clubs img {
    width: 200px;
    height: auto;
    transition: transform 0.2s, border 0.2s;
}

.clubs span {
    display: block;
    margin-top: 10px;
    font-size: 24px;
    color: green;
    }

.score {
    font-size: 40px;
    color: yellow;
}

/*add styling to end-message*/
